# Node modules
/node_modules

# Ambiente do container
.env

# Prisma
/prisma/dev.db
/prisma/dev.db-journal

# Migrations temporárias (se não quiser versionar)
# backend/prisma/migrations/

# Log files
*.log

# Docker volumes
pgdata

# VSCode Dev Container metadata (pode manter se quiser fora do Git)
.devcontainer/.postCreate*
.devcontainer/.postStart*

# Sistema
.DS_Store
Thumbs.db

# Testes
/coverage
lembrar.md

/dist