# URL de conexão com o banco PostgreSQL (ajuste usuário, senha, host e banco conforme necessário) (environment no docker-compose.yml)
DATABASE_URL=postgresql://usuario:senha@postgres:5432/controle_contas

# Chave secreta para geração e validação de tokens JWT (string aleatória)
JWT_SECRET=sua_chave_secreta_aqui

# Ambiente de execução (development, production, etc)
NODE_ENV=development
